[Unit]
Description=ADC Manager Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/user/bin/python3 /usr/bin/adc_manager/adc_manager.py

Restart=always
User=pi

[Install]
WantedBy=multi-user.target
